<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="InstancesRootFolder" value="D:\ZDB" />
    <add key="AllowedInstances" value="zdb_APITests" />
    
    <!--Instance-->
    <add key="DeleteInstance" value="true" />
    <add key="GetInstance" value="true" />
    <add key="CreateInstance" value="true" />
    <add key="BackupInstance" value="true" />
    <add key="MaxDepthInstance" value="true" />
    <add key="RestoreInstance" value="true" />
    <add key="LockInstance" value="true" />
    <add key="UnlockInstance" value="true" />
    <add key="GetInstanceLock" value="true" />
    <add key="ExistsInstance" value="true" />
    
    <!--Table-->   
    <add key="CsvPut" value="false" />
    <add key="CsvFilePut" value="false" />
    <add key="CsvFolderInsert" value="false" />
    <add key="DeleteTable" value="false" />
    <add key="ListTable" value="false" />
    <add key="ExistsTable" value="false" />
    <add key="LockTable" value="false" />
    <add key="UnlockTable" value="false" />
    <add key="DeleteKeys" value="false" />
    <add key="GetKeys" value="false" />
    <add key="ExistsKey" value="false" />
    <add key="ExistsKeys" value="false" />
    <add key="DeleteKey" value="false" />
    <add key="GetKey" value="false" />
    <add key="DeleteIndex" value="false" />
    <add key="CreateIndex" value="false" />
    <add key="GetValue" value="false" />
    <add key="PutValue" value="false" />
    <add key="GetValues" value="false" />
    <add key="PutValues" value="false" />
    <add key="Script" value="false" />
    <add key="ScriptPut" value="false" />
    <add key="ScriptGet" value="false" />
    <add key="ScriptExecute" value="false" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>