<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <appSettings>
    <add key="InstancesRootFolder" value="C:\ZDB" />
    <add key="AllowedInstances" value="*" />
    <add key="DeleteInstance" value="true" />
    <add key="GetInstance" value="true" />
    <add key="CreateInstance" value="true" />
    <add key="BackupInstance" value="true" />
    <add key="MaxDepth" value="true" />
    <add key="RestoreInstance" value="true" />
    <add key="LockInstance" value="true" />
    <add key="UnlockInstance" value="true" />
    <add key="GetInstanceLock" value="true" />
    <add key="ExistsInstance" value="true" />
    <add key="CsvPut" value="true" />
    <add key="CsvFilePut" value="true" />
    <add key="CsvFolderInsert" value="true" />
    <add key="DeleteTable" value="true" />
    <add key="ListTable" value="true" />
    <add key="ExistsTable" value="true" />
    <add key="LockTable" value="true" />
    <add key="UnlockTable" value="true" />
    <add key="DeleteKeys" value="true" />
    <add key="GetKeys" value="true" />
    <add key="ExistsKey" value="true" />
    <add key="ExistsKeys" value="true" />
    <add key="DeleteKey" value="true" />
    <add key="GetKey" value="true" />
    <add key="DeleteIndex" value="true" />
    <add key="CreateIndex" value="true" />
    <add key="GetValue" value="true" />
    <add key="PutValue" value="true" />
    <add key="GetValues" value="true" />
    <add key="PutValues" value="true" />
    <add key="Script" value="true" />
    <add key="ScriptPut" value="true" />
    <add key="ScriptGet" value="true" />
    <add key="ScriptExecute" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5.1" />
    <httpModules />
  </system.web>
  <system.webServer>
    <modules />
    <defaultDocument>
      <files>
        <clear />
        <add value="index.html" />
      </files>
    </defaultDocument>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http.WebHost" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ApplicationInsights" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Diagnostics.Tracing.EventSource" publicKeyToken="b03f5f7f11d50a3a"
                          culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.28.0" newVersion="1.1.28.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>